# Default values for postgres.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

service:
  image:
    version: inseefrlab/mlflow:v2.5.0
    pullPolicy: IfNotPresent
  directory: /tmp/mlflow/artifacts/
  proxyArtifact:
    enabled: true
  gunicornTimeout: "600"
  customArgs:  # []
    - --workers=2

discoverable:
  allow: true

liveness:
  enabled: "true"

security:
  networkPolicy:
    enabled: false
    from:
    - ipBlock:
        cidr: 10.233.103.0/32
    - ipBlock:
        cidr: 10.233.111.0/32
  allowlist:
    enabled: true
    ip: "0.0.0.0/0"
  serviceEntry:
    enabled: true
    hosts:
      - "storage.googleapis.com"
  oauth2:
    enabled: false

# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

postgresql:
  image:
    tag: "15"
  auth:
    username: "admin"
    password: "changeme"
    postgresPassword: "changeme"
    database: "mlflow"
  fullnameOverride: "mlflow-db"
  primary:
    resources:
      limits:
        cpu: "1000m"
        memory: "2000Mi"
      requests:
        memory: 256Mi
        cpu: 250m
    persistence:
      enabled: true
      size: 8Gi

networking:
  type: ClusterIP
  clusterIP: None
  service:
    port: 8000

istio:
  enabled: false
  gateways:
    - istio-namespace/example-gateway
  hostname: chart-example.local

readiness:
  enabled: "true"


imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

networkPolicy:
  enabled: false

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi

resources_init:
  limits:
    cpu: "100m"
    memory: "128Mi"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
